/* healthbar colors */

$timer-text: #ff0000;
$timer-stroke: #860000;
$heathbar-background: #400;
$damageFill: #d60000d0;
$health-100: #2fff39ea;
$health-75: #9eff2fea;
$health-50: #ffb62fea;
$health-25: #ff1a13ea;
$names: linear-gradient(
  15deg,
  hsl(240, 40%, 44%),
  hsl(240, 40%, 64%),
  hsl(240, 40%, 84%)
);
$names-stroke: hsl(240, 40%, 14%);
$active-combo: linear-gradient(15deg, #437f9d, #7eafc8, #c6dce7 50%, #7eafc8);

/* Home Color */

$home-prime: #ffcc00;
$home-secundary: #ff0000;
$home-bg: #111;
$white: #fff;
$home-highlight: #00ffff;

/* Selection Colors */
